@charset "UTF-8";

h1 {
  color: purple;
}
hr {
  color: purple;
  border: 2px solid;
}
table td > img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 10px 10px;
  align-self: center;
}
a {
  text-decoration: none;
  color: hotpink;
}

table {
  border-radius: 5px;
}
th {
  text-align: left;
  border-radius: 5px;
  font-weight: unset;
  padding: 10px;
}
td {
  padding: 10px;
}
